.home-component-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.home-component-2 .container {
    width: 50%;
    padding: 70px;
}

.home-component-2 .container .title {
    font-weight: 800;
    font-size: 1.7em;
}

.home-component-2 .container img {
    width: 100%;
    height: 100%;
}