.home-component-9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 200px auto;
}

.home-component-9 .title {
    font-size: 80px;
    background: var(--primary-color);
    color: white;
    border-radius: 48px;
    padding: 5px 40px;
}

.testimonials {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}


.testimonial {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.testimonial-quote {
    background: var(--primary-color);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 32px;
    padding: 20px 0;
}

.testimonial-quote.blue {
    background: var(--primary-color);
    color: white;
}

.testimonial-quote.pink {
    background: var(--tertiary-color);
}

.testimonial-author {
    font-size: 32px;
}

.testimonial.pink {
    margin-top: 30px;
}

.home-component-9 > p {
    width: 930px;
    margin-top: 50px;
    font-size: 32px;
}

.teacher-icon {
    top: 70px;
    width: 60px;
    height: 100%;
    position: relative;
    background: white;
    border-radius: 50%;
    padding: 10px 20px;
}

@media screen and (max-width: 650px) {
    .home-component-9 {
        display: none;
    }
}