.contact-us {
    margin-top: 250px;
}

.contact-us .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 500px;
}

.contact-us .container p {
    width: 560px;
}

.contact-us-mobile {
    display: none;
}

@media screen and (max-width: 650px) {
    .main-body {
        width: 80%;
    }

    .main-title {
        width: 100%;
        color: white;
        font-size: 40px;
        margin-bottom: 100px;
    }

    .contact-us-mobile {
        display: flex;
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        z-index: -1;
    }

    .contact-us .container p {
        width: 400px;
    }

    .contact-us-form-header h1 {
        font-size: 40px;
        background: var(--primary-color);
        color: white;
        border-radius: 48px;
        padding: 10px 60px;
    }

    .contact-us-form-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    label {
        width: 80%;
    }

    label.input-text {
        width: 80%;
    }

    label:not(.input-text) input {
        height: 45px;
    }

    .contact-us {
        margin-top: 150px;
    }

    .main-header {
        gap: 100px;
    }
}