.contact-us {
    margin-top: 250px;
}

.contact-us .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 500px;
}

.contact-us .container p {
    width: 560px;
}

.contact-us-mobile {
    display: none;
}

@media screen and (max-width: 650px) {
    .contact-us .main-body {
        width: 80%;
    }

    .contact-us .main-title {
        width: 350px;
        color: white;
        font-size: 40px;
        margin-bottom: 100px;
    }

    .contact-us-mobile {
        display: flex;
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        z-index: -1;
    }

    .contact-us .container p {
        width: 300px;
    }

    .contact-us-form-header h1 {
        font-size: 40px;
        background: var(--primary-color);
        color: white;
        border-radius: 48px;
        padding: 10px 60px;
    }

    .contact-us-form-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .contact-us label {
        width: 80%;
        align-items: center;
    }

    .contact-us label.input-text {
        width: 80%;
    }

    .contact-us label:not(.input-text) input {
        height: 45px;
    }

    .contact-us {
        margin-top: 150px;
    }

    .contact-us .main-header {
        gap: 50px;
    }

    .contact-us .container {
        width: 100%;
    }
}

@media screen and (min-width: 651px) {
    .contact-us .main-title {
        font-size: 80px;
        width: 1000px;
    }

    .contact-us p {
        font-size: 32px;
        width: 950px;
    }

    .contact-us-form-header h1 {
        font-size: 80px;
    }

    .contact-us-form-header p {
        font-size: 23px;
    }
}