.home-component-7 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget {
    background: url("../../assets/mobile-menu-background.png");
    background-size: contain;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 620px;
    box-shadow: 0 10px 5px #00000029;
}

.widget img {
    width: 250px;
    height: 125px;
}

.widget .title {
    font-size: 2.5em;
    font-weight: 700;
    width: 400px;
    text-align: center;
}

.widget input {
    font-size: 0.8em;
    border-radius: 25px;
    border: 1px solid var(--primary-color);
    text-align: center;
    padding: 5px;
    background: transparent;
    width: 350px;
    height: auto;
}

.widget button {
    background: var(--secondary-color);
    border: none;
    border-radius: 25px;
    color: var(--tertiary-color);
    font-size: 1em;
    padding: 10px 30px;
}

.widget .widget-footer {
    width: 350px;
    text-align: center;
    margin-top: 30px;
    font-size: 0.8em;
}

@media screen and (max-width: 650px) {
    .widget {
        background-size: cover;
        background-position: center;
        width: 90%;
        border-radius: 25px;
    }

    .widget .title {
        width: 80%;
    }
}