.home-component-5 {
    margin: 50px 0;
}

.home-component-5 .container {
    display: flex;
}

.home-component-5 .container-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.home-component-5 .container-bottom {
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.home-component-5 .container-bottom img {
    width: 300px;
    height: 100%;
}

.home-component-5 .container-bottom img:nth-child(odd) {
    margin-top: 70px;
}

.home-component-5 .title {
    font-size: 2.5em;
    font-weight: 700;
    background: var(--primary-color);
    color: white;
    border-radius: 48px;
    padding: 5px 40px;
}

.home-component-5 .sub-title {
    max-width: 700px;
    text-align: center;
}

@media screen and (max-width: 650px) {
    .home-component-5 .title {
        font-size: 2em;
        text-align: center;
        width: 70%;
        line-height: 35px;
    }

    .home-component-5 .container-bottom {
        overflow-x: scroll;
        justify-content: flex-start;
        padding: 0 30px;
    }

    .paragraph {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: cell;
        gap: 50px;
    }
}