.programs-header-img {
    width: 100%;
    height: auto;
}

.programs-ambassadors.main-body {
    max-width: 100%;
    margin: 100px 0;
}

.ambassador {
    width: 400px;
    height: auto;
}

.ambassador.ambassador-2 {
    width: 500px;
    margin: 0 -60px 60px -60px;
}

.ambassadors-names {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

.ambassador-name {
    font-size: 30px;
    font-family: "Coolvetica";
}

.ambassador-name-1, .ambassador-name-3 {
    width: 250px;
}

.programs-animals {
    display: flex;
    justify-content: center;
    align-items: center;
}

.programs-animals-names {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    row-gap: 20px;
}

.programs-animal-name {
    font-size: 30px;
    font-weight: 600;
    border-radius: 25px;
    border: 2px solid var(--primary-color);
    padding: 5px 10px 0 10px;
    background: var(--primary-color);
    color: white;
    text-align: center;
}

.programs-animal-name.white {
    font-weight: 600;
    border-radius: 25px;
    border: 2px solid var(--primary-color);
    background: white;
    color: var(--primary-color);
}

.ambassadors-container.main-body {
    max-width: 100%;
    margin: 100px 0;
}

.animals-names {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 200px;
    margin-right: 120px;
}

img.animal.ambassador.ambassador-2 {
    margin: 0 0 60px 0;
}

.programs-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.programs-footer p {
    max-width: 710px;
    text-align: center;
}

.Large.ambassadors-container {
    flex-direction: column;
}

@media screen and (min-width: 651px) {
    .long {
        width: 60%;
    }
}

@media screen and (max-width: 650px) {
    .programs h1 {
        width: 80%;
        font-size: 2em;
    }

    .ambassadors-imgs {
        display: flex;
        justify-content: center;
    }

    .ambassador {
        width: 350px !important;
    }

    .programs-animals-names {
        flex-direction: column;
        width: 90%;
    }

    .programs-animal-name {
        text-align: center;
        font-size: 1.3em;
    }

    .programs-footer p  {
        width: 90%;
    }

    .ambassadors-container {
        width: 100%;
        overflow-x: scroll;
        padding: 100px 0 0 0;
    }

    .ambassador-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .ambassador.ambassador-2 {
        margin: 0;
    }

    .ambassador-container-2 {
        margin-top: -55px;
        margin-left: -50px;
        margin-right: -50px;
    }

    img.animal.ambassador.ambassador-2 {
        margin: 0;
    }
}