.home-component-8 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
    gap: 30px;
}

.home-component-8 img {
    height: 100%;
    width: 300px;
}

.home-component-8 h1 {
    font-size: 80px;
}

.home-component-8 p {
    font-size: 32px;
    width: 970px;
}

@media screen and (max-width: 650px) {
    .home-component-8 {
        display: none;
    }
}