:root {
  --primary-color: #02203E;
  --secondary-color: #635146;
  --tertiary-color: #ECCBD2;
}

@font-face {
  font-family: "Coolvetica";
  src: url('./assets/coolvetica.otf') format('opentype');
}

@font-face {
  font-family: "Gill Sans";
  src: url('./assets/gill-sans.otf') format('opentype');
}

html {
  width: 100vw;
  overflow-x: hidden;
}

button {
  font-family: "Gill Sans";
}

body {
  margin: 0;
  font-size: 20px;
  color: var(--primary-color);
  overflow: hidden;
}

* {
  margin: 0;
}

p {
  font-family: "Gill Sans";
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Gill Sans";
}

h1 {
  font-size: 60px;
  font-family: "Coolvetica";
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 45%;
}

input {
  width: 100%;
  height: 30px;
  border-radius: 25px;
  border: 2px solid var(--primary-color);
}

form button {
  background: var(--secondary-color);
  color: white;
  border-radius: 25px;
  border: none;
  font-size: 1em;
  padding: 10px 40px;
}

input[type="text"] {
  height: 150px;
}

.home-component {
  width: 100%;
}

.main-body {
  max-width: 710px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.main-title {
  width: 800px;
}

.form-labels {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  row-gap: 10px;
}

label.input-text {
  width: 96%;
}

input[type="text"] {
  height: 150px;
}

.title {
  font-family: "Coolvetica";
}

@media screen and (max-width: 650px) {
  .Large {
    display: none !important;
  }
  .Small {
    display: flex !important;
  }
}

@media screen and (min-width: 651px) {
  .Large {
    display: flex !important;
  }
  .Small {
    display: none !important;
  }
}